Library
.vsconfig
Assembly-CSharp.csproj
*.csproj
Dice.sln
Logs
Temp
Assets/Assembly-CSharp.csproj.meta
Assets/Assembly-CSharp.csproj.meta
Assets/Assembly-CSharp-Editor.csproj.meta
Assets/Assembly-CSharp-Editor-firstpass.csproj.meta
Assets/Assembly-CSharp-firstpass.csproj.meta
Assets/Sirenix.OdinInspector.CompatibilityLayer.csproj.meta
Assets/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj.meta
Assets/Unity.CollabProxy.Editor.csproj.meta
Assets/Unity.EditorCoroutines.Editor.csproj.meta
Assets/Unity.Performance.Profile-Analyzer.Editor.csproj.meta
Assets/Unity.PlasticSCM.Editor.csproj.meta
Assets/Unity.Rider.Editor.csproj.meta
Assets/Unity.Settings.Editor.csproj.meta
Assets/Unity.TestTools.CodeCoverage.Editor.csproj.meta
Assets/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj.meta
Assets/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj.meta
Assets/Unity.TextMeshPro.csproj.meta
Assets/Unity.TextMeshPro.Editor.csproj.meta
Assets/Unity.Timeline.csproj.meta
Assets/Unity.Timeline.Editor.csproj.meta
Assets/Unity.VisualScripting.Core.csproj.meta
Assets/Unity.VisualScripting.Core.Editor.csproj.meta
Assets/Unity.VisualScripting.Flow.csproj.meta
Assets/Unity.VisualScripting.Flow.Editor.csproj.meta
Assets/Unity.VisualScripting.SettingsProvider.Editor.csproj.meta
Assets/Unity.VisualScripting.Shared.Editor.csproj.meta
Assets/Unity.VisualScripting.State.csproj.meta
Assets/Unity.VisualScripting.State.Editor.csproj.meta
Assets/Unity.VisualStudio.Editor.csproj.meta
Assets/Unity.VSCode.Editor.csproj.meta
Assets/UnityEditor.TestRunner.csproj.meta
Assets/UnityEngine.TestRunner.csproj.meta
Assets/Dice.sln.meta
obj
FlowerGarden.sln
UserSettings/Layouts/default-2022.dwlt
